<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="true" />
  <arg name="launch_rviz" default="true" />
  <arg name='launch_joy' default='true' />
  <arg name='launch_sensor' default='true' />
  <arg name='use_camera1' default='true' />
  <arg name='use_camera2' default='true' />
  <arg name='use_camera3' default='true' />
  <arg name="config" default="$(find armer_panda)/cfg/panda_real.yaml" />

  <include file="$(find panda_robot)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find panda_robot)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" />
  <include file="$(find panda_robot)/launch/franka_arm_joy.launch" if="$(arg launch_joy)" />
  <include file="$(find panda_robot)/launch/sensor_bringup.launch" if="$(arg launch_sensor)">
      <arg name='use_camera1' value="$(arg use_camera1)" />
      <arg name='use_camera2' value="$(arg use_camera2)" />
      <arg name='use_camera3' value="$(arg use_camera3)" />
  </include>

      <!-- Launch armer driver -->
    <include file="$(find armer)/launch/armer.launch">
        <arg name="config" value="$(arg config)" />
    </include>
</launch>

