<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="true" />
  <arg name="launch_rviz" default="false" />
  <arg name='launch_joy' default='false' />
  <arg name='launch_sensor' default='true' />
  <arg name='use_camera1' default='true' />
  <arg name='use_camera2' default='true' />
  <arg name='use_camera3' default='true' />

  <include file="$(find panda_robot_control)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find panda_robot_control)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" />
  <include file="$(find panda_robot_control)/launch/franka_arm_joy.launch" if="$(arg launch_joy)" />
  <include file="$(find panda_robot_control)/launch/sensor_bringup.launch" if="$(arg launch_sensor)">
      <arg name='use_camera1' value="$(arg use_camera1)" />
      <arg name='use_camera2' value="$(arg use_camera2)" />
      <arg name='use_camera3' value="$(arg use_camera3)" />
  </include>
</launch>

